@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-size: 2.875rem;
  }
}

@layer components {
  .h-nav {
    height: var(--nav-size);
  }

  .primary-btn {
    background: linear-gradient(0deg, #52a76f, #52a76f), linear-gradient(0deg, #71bf8c, #71bf8c);
  }
}
