@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-size: 2.875rem;
  }

  body {
    background: linear-gradient(180deg, #f0eee3 -1.3%, #fffdf1 59.08%, #ffffff 100.96%);
    min-height: max-content;
  }
}

@layer components {
  .h-nav {
    height: var(--nav-size);
  }

  .primary-btn {
    background: linear-gradient(0deg, #52a76f, #52a76f), linear-gradient(0deg, #71bf8c, #71bf8c);
  }

  .rounded-10px {
    @apply rounded-[0.625rem];
  }
}
